@tailwind base;
@tailwind components;
@tailwind utilities;

.star-wars {
  perspective: 800px;
}

.crawl {
  animation: crawl 40s linear infinite;
}
@media screen and (max-width: 768px) {
  .star-wars {
    perspective: 1200px;
  }
}
@keyframes crawl {
  0% {
    top: 0;
    transform: rotateX(20deg) translateZ(0);
  }
  100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
